<html>
    <head>
        <title>
            <%=title%>

        </title>
        <script src="https://kit.fontawesome.com/fb2f2264aa.js" crossorigin="anonymous"></script>
        <link rel="stylesheet"  href="home.css">
     </head>
    <body >
        <i class="far fa-address-card"></i> <h1 >Contacts</h1>
        
        <div id ="outer" >
        
        <% for(let i of lol){%>
        <div id ="inner" >
           <a href="/delete-contact/?id=<%= i._id %>" <i class="far fa-window-close"></i></a>
             <%=i.name%> <br>
            <%=i.password%> 
            <%=i._id%> 
        </div>
        <br>
        <br>

            
        <%}%> 
    
        <form action="/contact" method="POST">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="password" placeholder="pass">
            <button type="submit">submit</button>
        </form>
        
        
    </div>
    </body>
</html>